.container{
    display: flex;
    min-height: 100vh;

}
.content{
    max-width: 100%;
    flex: 1 1;
    max-width: calc(100% - 96px);
    padding: 0 40px 0 20px;
}
.index-module-grid{
  max-width: 1920px;
  margin: 0;
  padding: 0;
  width: 100%;
}