.Home_slideshow{
    margin-top: 18px;
}
.Home_wrapper{
    margin-top: 70px;
    overflow: hidden;
    padding: 0 44px 74px;
}
.Home_courseItem{
    overflow: unset!important;
    position: relative;
}



