.Video_content__BXh4c {
    min-height: 400px;
    padding: 0 8.5%;
}
.Video_contentTop__ngj7P {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}