.Header_wrapper {
  --height: 66px;
  border-bottom: 1px solid #e8ebed;
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  height: var(--height);
  background-color: #fff;
  left: 0;
  padding: 0 28px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 9999;
  .Header_logo {
    align-items: center;
    display: flex;
    a {
      display: flex;
      img {
        border-radius: 8px;
        flex-shrink: 0;
        height: 38px;
        object-fit: contain;
        width: 38px;
      }
    }
    .Header_heading {
      color: #000;
      font-size: 1.6rem;
      font-weight: 700;
      margin-left: 16px;
    }
  }
  .Header_actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    .Header_login-btn {
      background-color: var(--primary-color);
      border-radius: 999px;
      color: #fff;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 9px 20px;
      display: none;
    }
    .Header_myLearn {
      background-color: transparent;
      color: #333;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 600;
      margin-right: 16px;
      padding: 8px;
    }
    .Header_actionBtn {
      padding: 8px;
      position: relative;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .Header_action-icon {
        color: #707070;
        font-size: 2rem;
      }
    }
    .Header_avatar-wrapper {
      margin-left: 12px;
      .Header_avatar {
        cursor: pointer;
      }
    }

  }
}
.Header_logo,
.Header_search,
.Header_actions {
  flex: 1 1;
}
.Header_back-btn{
  cursor: pointer;
  display: flex;
  height: var(--wrapper-height);
  transition: background-color .2s linear;
  width: 60px;
}
.Header_logo {
  margin-left: 8px;
  position: relative;
  top: 1px;
}
.Header_logo img {
  height: 30px;
}
.Header_logo img {
  border-radius: 8px;
}
.Header_course-title {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #fff;
  display: -webkit-box;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 16px;
  overflow: hidden;
}
.Header_progress-bar {
  align-items: center;
  display: flex;
  margin-right: 24px;
}
.Header_completed-msg {
  color: var(--white-color);
  font-size: 1.3rem;
  margin-left: 6px;
}
.Header_completed-msg .Header_num {
  font-size: 1.2rem;
}

.Header_num {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.Header_action-btn{
  background-color: transparent;
  color: #fff;
  font-size: 1.4rem;
  margin-right: 24px;
  opacity: .8;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Header_action-btn .Header_icon {
  margin-right: 6px;
}










