.CourseDetail_wrapper{
    margin-top: 24px;
    padding: 0 44px 68px;
}
.CourseDetail_courseName{
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 16px;
    min-height: 33px;
}
.CourseDetail_textContent{
    color: rgba(0,0,0,.8);
    font-size: 1.4rem;
    line-height: 1.6;

}