.Search_wrapper{
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;
    .Search_SearchIcon{
        background-color: #fff;
        background-image: url('https://fullstack.edu.vn/static/media/search.9bd3926522ea0937310c.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 18px;
        border-radius: 50%;
        height: 32px;
        opacity: .7;
        transition: opacity .2s ease-in-out;
        width: 30px;
    
    }
    .Search_input{
        border: none;
        caret-color: #444;
        flex: 1 1;
        height: 100%;
        outline: none;
        padding: 0 4px;
    }
}

